body {
    background-color: #161618 !important;
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin: 0 auto;
}
*{
    color: white;
}
.container-fluid {
    background-color: #212529;
    color: white;
}

.nav {
    background-color: darkgrey;
}

.city {
    display: table;
    align-items: inherit;
    text-align: center
}

.table-secondary {
    color: #161618;
}

tr {
    text-align: center;
}



